* {
  scroll-behavior: smooth;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: "rbi";
  src: url("../fonts/RobotoCondensed-Bold.woff2") format("woff2"),
    url("../fonts/RobotoCondensed-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: "ri";
  src: url("../fonts/RobotoCondensed-Italic.woff2") format("woff2"),
    url("../fonts/RobotoCondensed-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: "rb";
  src: url("../fonts/RobotoCondensed-Bold.woff2") format("woff2"),
    url("../fonts/RobotoCondensed-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "rli";
  src: url("../fonts/RobotoCondensed-LightItalic.woff2") format("woff2"),
    url("../fonts/RobotoCondensed-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: "rl";
  src: url("../fonts/RobotoCondensed-Light.woff2") format("woff2"),
    url("../fonts/RobotoCondensed-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "rr";
  src: url("../fonts/RobotoCondensed-Regular.woff2") format("woff2"),
    url("../fonts/RobotoCondensed-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@keyframes transbanenr {
  0% {
    background: url(../img/banner1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 55%;
  }
  45% {
    background: url(../img/banner2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 55%;
  }
  85% {
    background: url(../img/banner3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 55%;
  }
}

html {
  --red-header-cl: #f73838;
  --blue-main-cl: #0084ff;
  --yellow-hover-cl: #dbc923;
  --time-trans-hover: 0.3s;
}
body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  width: 1140px;
  margin: 0 auto;
  /* padding-left: 15px;
  padding-right: 15px; */
  position: relative;
} /* css login */

.accout.hide {
  display: none;
}

.header .header__main-search .accout a {
  text-decoration: none;
  color: var(--blue-main-cl);
  font-size: 18px;
  font-family: rr;
  padding: 5px 10px;
}
.header .header__main-search .accout a:hover {
  color: var(--yellow-hover-cl);
}

#user-section {
  position: relative;
}

#user-section .user-name {
  display: block;
  padding: 15px;
}

.header .header__main-search .accout__login .accout__menu {
  display: none;
  position: absolute;
  background: #fff;
  padding: 0 30px;
  width: max-content;
  line-height: 60px;
  border-bottom-left-radius: 10px;
  box-shadow: 1px 6px 26px -6px rgba(0, 0, 0, 0.41);
  -webkit-box-shadow: 1px 6px 26px -6px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 1px 6px 26px -6px rgba(0, 0, 0, 0.41);
  border-bottom-right-radius: 10px;
  z-index: 1;
}
.header .header__main-search .accout__login li {
  width: max-content;
}
.header .header__main-search .accout__login li a {
  text-decoration: none;
  color: var(--blue-main-cl);
}

.header .header__main-search .accout__login .accout__menu li:hover {
  color: #dbc923;
  background: #fff;
}
.header .header__main-search .accout__login .accout__menu li:hover a {
  color: var(--yellow-hover-cl);
}
.header .header__main-search .accout__login :hover .accout__menu {
  display: block;
}
/* .header {
  /* background: var(--red-header-cl); 
} */
.header .header__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}
.header .header__main-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 950px;
}
.header .header__main-search .input-search {
  position: relative;
  height: 50px;
  display: flex;
}
.header .header__main-search .input-search .input {
  box-sizing: border-box;
  height: 100%;
  width: 300px;
  border: 0;
  outline: 0;
  padding: 0 30px;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
  background: #fff;
  border: 1px solid var(--blue-main-cl);
}

.header .header__main-search .input-search .btn {
  border: none;
  height: 100%;
  background: var(--blue-main-cl);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  text-decoration: none;
  color: #fff;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  font-family: rr;
  font-size: 14px;
}
.header .header__main-search .input-search .btn:hover {
  opacity: 0.6;
}
.header .header__main-search .interac {
  display: flex;
  align-items: center;
}
.header .header__main-search .interac a {
  text-decoration: none;
  padding: 15px;
  color: var(--blue-main-cl);
  font-size: 18px;
  font-family: rr;
}
.header .header__main-search .interac a:hover {
  color: var(--yellow-hover-cl);
}
.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--blue-main-cl);
}
.nav a:hover {
  opacity: 0.7;
}
.nav a {
  text-decoration: none;
  padding: 20px;
  color: #fff;
  font-size: 15px;
  font-family: rr;
}

.schero {
  background: url(../img/banner1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 55%;
  transition: 0.4s;
  animation-name: transbanenr;
  animation-duration: 15s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  margin-bottom: 150px;
}
.schero .container {
  height: 565px;
}
.schero .schero__item {
  bottom: 0;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: -15px;
}
/*this is style header*/

#main__menu {
  background: rgb(255, 255, 255);
  border-radius: 10px;
  color: black;
  margin-top: 5px;
}

#main__menu li {
  position: relative;
}

#main__menu > li a {
  display: block;
  text-transform: none;
  padding: 10px;
  text-decoration: none;
  color: #000;
  font-family: rb;
  font-size: 15px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
}
#main__menu > li a:hover {
  color: var(--blue-main-cl);
}

#main__menu > li > a {
  display: block;
  padding: 15px;
}

#main__menu li .sub__menu {
  position: relative;
  display: none;
  width: 250px;
  top: 0;
  background: #f5f5f5;
  left: 100%;
  border-radius: 10px;
  margin-left: 2px;
}

#main__menu li:hover > .sub__menu {
  display: block;
}

#main__menu > li .sub__menu {
  position: absolute;
  background: white;
}

.schero .schero__slibar {
  display: flex;
}

.schero .schero__slibar .schero__slibar-list {
  display: inline-flex;
  flex-direction: column;
  background: #fff;
  border-radius: 10px;
  position: relative;
}
.schero .schero__slibar .schero__slibar-list a {
  width: max-content;
  padding: 5px 30px;
  text-decoration: none;
  font-size: 15px;
  font-family: rb;
  color: #000;
}
.schero .schero__slibar .schero__slibar-list a:hover {
  color: var(--blue-main-cl);
}
.schero .schero__slibar .schero__slibar-list .list-item .subnav {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  display: none;
}
.schero .schero__slibar .schero__slibar-list .list-item .subnav span {
  font-size: 15px;
  font-family: rb;
  color: #000;
  margin-bottom: 7px;
}
.schero .schero__slibar .schero__slibar-list .subnav a {
  text-decoration: none;
  font-size: 13px;
  font-family: rl;
  color: var(--blue-main-cl);
  line-height: 20px;
}
.schero .schero__slibar .schero__slibar-list .list-item .subnav a:hover {
  color: var(--yellow-hover-cl);
}

.schero .schero__item .discout {
  max-width: 270px;
  max-height: 70px;
  padding: 15px;
  position: relative;
}
.schero .schero__item .discout img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  top: 50%;
  left: 50%;
  transform: scale(1);
  transition: 0.4s;
}
.schero .schero__item .discout:hover img {
  transform: scale(1.1);
}

.product__header {
  background: var(--blue-main-cl);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.product__header .heading.--h2 {
  color: #fff;
  font-size: 24px;
  font-family: rb;
  line-height: 30px;
}
.product__header .btn__list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.product__header .btn__list .btnfilter {
  border: 1px solid #fff;
  background: var(--blue-main-cl);
  font-size: 18px;
  font-family: rr;
  color: #fff;
  line-height: 30px;
  border-radius: 10px;
  margin: 0 10px;
  cursor: pointer;
}
.product__header .btn__list .btnfilter:hover {
  opacity: 0.7;
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 50px;
  right: 45px;
}
.product .product__list {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}
.product .product__list .product__item {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  margin-top: 5px;
  padding: 5px;
  width: 190px;
}
.product .product__list .product__item:hover {
  outline: 1px solid rgb(169, 169, 169);
}
.product .product__list .product__item .img-product img {
  max-width: 190px;
  max-height: 190px;
  object-fit: cover;
  transform: scale(1);
  transition: 0.3s;
  -webkit-transition: 0.3s;
}
.product .product__list .product__item:hover .img-product img {
  transform: scale(1.07);
}
.product .product__list .product__item .name__product,
.product .product__list .product__item .name__product__desktop {
  font-family: rr;
  font-size: 18px;
  color: var(--blue-main-cl);
  text-decoration: none;
  margin: 5px 0;
  text-overflow: ellipsis;
  line-height: normal;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  height: 40px;
  overflow: hidden;
}
.product .product__list .product__item .name__product:hover,
.product .product__list .product__item .name__product__desktop:hover {
  color: var(--yellow-hover-cl);
}
.product .product__list .product__item .price {
  font-family: rr;
  font-size: 18px;
  color: var(--red-header-cl);
  line-height: 30px;
}
#page {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}
#page .pageNumber a {
  padding: 5px 10px;
  font-size: 20px;
  font-family: rr;
  text-decoration: none;
  color: var(--blue-main-cl);
  border: 1px solid var(--blue-main-cl);
  margin: 0 5px;
  margin-bottom: 10px;
}
.contact a:not(:last-child) {
  margin-bottom: 10px;
}
.contact a:hover {
  transform: scale(1.1);
}
.contact a img {
  max-width: 40px;
  max-height: 40px;
  border-radius: 50%;
  display: block;
}
.footer {
  border-top: 2px solid var(--blue-main-cl);
  padding: 80px;
}
.footer .container {
  display: flex;
  flex-direction: column;
}
.footer .footer__content {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--red-header-cl);
}
.footer .footer__content .footer__content-item {
  display: flex;
  flex-direction: column;
}

.footer .footer__content .footer__content-item span,
.footer .footer__infor .footer__infor-address span {
  font-size: 18px;
  font-family: rb;
  line-height: normal;
  margin-bottom: 20px;
}
.footer .footer__content .footer__content-item a {
  font-size: 15px;
  text-decoration: none;
  font-family: rr;
  line-height: normal;
  margin-bottom: 10px;
  color: var(--blue-main-cl);
}
.footer .footer__infor {
  display: flex;
  justify-content: space-evenly;
}
.footer .footer__infor .footer__infor-address {
  display: flex;
  flex-direction: column;
}
.footer .footer__infor .footer__infor-address a {
  text-decoration: none;
  color: var(--blue-main-cl);
  font-family: rr;
  font-size: 15px;
  line-height: 30px;
}
.footer .footer__content .footer__content-item a:hover,
.footer .footer__infor .footer__infor-address a:hover {
  color: var(--yellow-hover-cl);
}
/* 
dfgfg */
.product .content__paging {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: max-content;
  margin: 10px auto;
}

/* .product .content__paging .page{
    flex-grow: 1;
} */

.product .content__paging .page-config {
  margin-right: 30px;
}

.product .content__paging .page-config select {
  width: 50px;
  height: 25px;
  border-radius: 3px;
}

.product .content__paging .total-item,
.total-page {
  margin-right: 30px;
}

.product .content__paging .number-page {
  display: flex;
}

.product .content__paging ul {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.product .content__paging li {
  width: 30px;
  height: 30px;
  border-radius: 3px;
  border: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  cursor: pointer;
}

.product .content__paging ul li a {
  color: black;
  text-decoration: none;
}

.btn-active {
  color: #c6c9cc;
  border: solid 1px #c6c9cc !important;
}

.product .content__paging .active {
  background: #ff6e06;
  border: 1px solid #ff6e06;
}

.product .content__paging .active a {
  color: white;
}
.content__paging {
  display: flex;
}

/* Product list */

.product-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 32px;
}

.product-list {
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  margin: 24px 0;
}

.product-item {
  text-decoration: none;
  box-sizing: border-box;
  width: 200px;
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
}

.product-item__img {
  transform: scale(0.9);
  padding: 10px;
  transition: all 0.2s ease;
  max-width: 190px;
  max-height: 190px;
  object-fit: contain;
}

.product-item:hover > .product-item__img {
  transform: scale(1);
}

.product-item__name {
  font-family: rr;
  font-size: 18px;
  color: var(--blue-main-cl);
  text-decoration: none;
  margin: 5px 0;
  text-overflow: ellipsis;
  line-height: normal;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.product-item__price {
  font-family: rr;
  font-size: 18px;
  color: var(--red-header-cl);
  line-height: 30px;
}

.product-list--page {
  flex-wrap: wrap;
}

.input-wrapper {
  display: flex;
}

#search-box {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  background-color: #fff;
  z-index: 2;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2)
}

.search-item__img {
  max-width: 40px;
  max-height: 40px;
  object-fit: contain;
  margin-right: 20px;
}

.search-item-wrapper {
  display: flex;
  padding: 10px 20px;
  cursor: pointer;
}

.search-item-wrapper:hover {
  background-color: rgba(0, 132, 255, 0.1);
}

.search-item-wrapper:hover.nohover {
  background-color: #fff;
  cursor: default;
}

.search-item-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.search-item__name {
  font-family: rr;
  font-size: 16px;
  color: var(--blue-main-cl);
  text-decoration: none;
  text-overflow: ellipsis;
  line-height: normal;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-height: 1.4;
  overflow: hidden;
}

.search-item__price {
  font-family: rr;
  font-size: 14px;
  color: var(--red-header-cl);
  line-height: 1.4;
}

.to-admin.hide {
  display: none;
}
@media screen and (max-width: 1026px) {
  .container {
    width: 100vw;
  }

  .header .header__main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .header .header__main-search {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .header .header__main-search .interac {
    display: none;
  }
  .nav {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: var(--blue-main-cl);
  }
  .schero .schero__item {
    width: 100vw;
  }

  .product-wrapper {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;
  }
  .product-wrapper .container {
    width: 100vw;
  }
  .product-list {
    display: flex;
    flex-wrap: wrap;
  }
  .footer {
    width: 100vw;
    padding: 30px 0;
  }
  .footer .container {
    width: 100vw;
  }
  .footer .footer__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 200px;
    right: 150px;
    z-index: 1;
  }
}
@media screen and (max-width: 426px) {
  .container {
    width: 100vw;
  }
  .header__main .header__main-logo a img {
    max-width: 50px;
    max-height: 50px;
  }
  .header .header__main-search .input-search {
    height: 30px;
  }
  .header .header__main-search .input-search .input {
    box-sizing: border-box;
    height: 100%;
    width: 100px;
    border: 0;
    outline: 0;
    padding: 0 7px;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
    background: #fff;
    border: 1px solid var(--blue-main-cl);
    font-family: rr;
    font-size: 13px;
  }
  .header .header__main-search .input-search .btn {
    border: none;
    height: 100%;
    background: var(--blue-main-cl);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    text-decoration: none;
    color: #fff;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    font-family: rr;
    font-size: 13px;
  }
  .header .header__main-search .interac {
    display: flex;
  }
  .header .header__main-search .accout a {
    font-size: 10px;
  }
  .header .header__main-search .interac a {
    text-decoration: none;
    padding: 10px;
    color: var(--blue-main-cl);
    font-size: 10px;
    font-family: rr;
  }
  .nav {
    display: none;
  }
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 20px;
    right: 40px;
    z-index: 1;
  }
  .contact a img {
    max-width: 25px;
    max-height: 25px;
    border-radius: 50%;
    display: block;
  }
  .schero {
    animation: none;
    margin-bottom: 30px;
  }
  .schero .container {
    height: max-content;
  }
  .schero .schero__slibar {
    display: none;
  }
  .schero .schero__item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    bottom: 0;
  }
  .schero .schero__item .discout {
    max-width: 170px;
    max-height: 70px;
    padding: 15px;
    position: relative;
  }
}
