html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: "rbi";
  src: url("../fonts/RobotoCondensed-Bold.woff2") format("woff2"),
    url("../fonts/RobotoCondensed-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: "ri";
  src: url("../fonts/RobotoCondensed-Italic.woff2") format("woff2"),
    url("../fonts/RobotoCondensed-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: "rb";
  src: url("../fonts/RobotoCondensed-Bold.woff2") format("woff2"),
    url("../fonts/RobotoCondensed-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "rli";
  src: url("../fonts/RobotoCondensed-LightItalic.woff2") format("woff2"),
    url("../fonts/RobotoCondensed-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: fallback;
}

@font-face {
  font-family: "rl";
  src: url("../fonts/RobotoCondensed-Light.woff2") format("woff2"),
    url("../fonts/RobotoCondensed-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "rr";
  src: url("../fonts/RobotoCondensed-Regular.woff2") format("woff2"),
    url("../fonts/RobotoCondensed-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@keyframes transbanenr {
  0% {
    background: url(../img/banner1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 55%;
  }
  45% {
    background: url(../img/banner2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 55%;
  }
  85% {
    background: url(../img/banner3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 55%;
  }
}

html {
  --red-header-cl: #f73838;
  --blue-main-cl: #0084ff;
  --yellow-hover-cl: #dbc923;
}
body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  width: 1140px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
/* css accout*/
.container .hide {
  display: none;
}

.container .accout__login .accout__menu {
  display: none;
  position: fixed;
  background: #fff;
  padding: 0 30px;
  width: max-content;
  line-height: 60px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 1;
}
.container .accout__login li {
  width: max-content;
}

.user-name-wrapper {
  color: #fff;
}
.container .accout__login li a {
  text-decoration: none;
  color: var(--blue-main-cl);
}

.container .accout__login .accout__menu li:hover {
  color: #dbc923;
  background: #fff;
}
.container .accout__login .accout__menu li:hover a {
  color: var(--yellow-hover-cl);
}
.container .accout__login :hover .accout__menu {
  display: block;
}
/* CSS trang thanh toán */
.pay {
  background: rgb(241, 241, 241);
}
.pay .container {
  padding: 40px;
}
.pay .heading.--h1 {
  margin-left: 300px;
  border: none;
}
.pay .heading.--h1::after {
  content: "";
  width: 70%;
  background: var(--red-header-cl);
  height: 1px;
  display: flex;
}
.pay form {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 10px;
  width: 380px;
  margin: 0 auto;
  padding: 20px;
  font-family: rr;
  font-size: 17px;
  line-height: 30px;
  -webkit-box-shadow: 7px 9px 23px -15px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: 7px 9px 23px -15px rgba(0, 0, 0, 0.58);
  box-shadow: 7px 9px 23px -15px rgba(0, 0, 0, 0.58);
}
.pay form fieldset .title {
  font-family: rb;
  font-size: 22px;
  line-height: 50px;
}
.pay form fieldset input {
  height: 30px;
  margin: 3px 0;
  margin-right: 5px;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--red-header-cl);
}

.pay form fieldset:nth-child(2)::after {
  content: "";
  display: flex;
  background: var(--red-header-cl);
  height: 1px;
  width: 90%;
  margin: 10px 0 20px 0;
}
.pay form .text a {
  text-decoration: none;
  color: var(--blue-main-cl);
}
.pay form .text a:hover {
  color: var(--yellow-hover-cl);
}
.pay form .btnpay {
  cursor: pointer;
  height: 40px;
  border-radius: 5px;
  background: #fff;
  color: var(--blue-main-cl);
  border: solid var(--blue-main-cl);
  width: max-content;
  margin: 15px auto 15px auto;
}
.pay form .btnpay:hover {
  background: var(--blue-main-cl);
  color: #fff;
  opacity: 0.8;
}

.payment-method {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1026px) and (min-width: 450px) {
  .container {
    width: 100vw;
  }
  .header .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }
  .pay .heading.--h1 {
    margin-left: 260px;
    border: none;
  }
  .footer {
    width: 100vw;
    padding: 30px 0;
  }
  .footer .container {
    width: 100vw;
  }
  .footer .footer__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media screen and (max-width: 426px) {
  .container {
    width: 100vw;
  }
  .header .container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .header .header__logo a {
    padding: 7px !important;
  }
  .header .header__logo a img {
    max-width: 50px;
    max-height: 50px;
  }
  #user-section .user-name {
    font-size: 10px;
  }
  .header .header__logo a img {
    max-width: 50px;
    max-height: 50px;
  }
  .header .header__nav a {
    text-decoration: none;
    padding: 5px;
    color: #fff;
    font-size: 10px;
    font-family: rr;
    transition: var(--time-trans-hover);
    -webkit-transition: var(--time-trans-hover);
  }
  .pay .container {
    padding: 0px;
  }
  .pay .heading.--h1 {
    margin-left: 100px;
    border: none;
  }
  .pay form {
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 10px;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    font-family: rr;
    font-size: 14px;
    line-height: 30px;
    -webkit-box-shadow: 7px 9px 23px -15px rgb(0 0 0 / 58%);
    -moz-box-shadow: 7px 9px 23px -15px rgba(0, 0, 0, 0.58);
    box-shadow: 7px 9px 23px -15px rgb(0 0 0 / 58%);
  }
  .footer {
    padding: 20px 0;
  }
  .footer .footer__content {
    justify-content: space-evenly;
  }
}
